ArmTemplates/logic-apps.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string"
        },
        "cosmosDbAccountName": {
            "type": "string"
        },
        "cosmosDbPrimaryMasterKey": {
            "type": "string"
        },
        "serviceBusConnectionString": {
            "type": "string"
        },
        "apiManagementUrl": {
            "type": "string"
        },
        "apiManagementKey": {
            "type": "string"
        },
        "bingMapsKey": {
            "type": "string"
        }
    },
    "variables": {
        "apiConnectionNameCosmosDb": "[concat('la-api-cosmos-', parameters('logicAppName'))]",
        "apiConnectionNameOffice365": "[concat('la-api-office365-', parameters('logicAppName'))]",
        "apiConnectionNameServiceBus": "[concat('la-api-servicebus-', parameters('logicAppName'))]",
        "apiConnectionNameBingMaps": "[concat('la-api-bingmaps-', parameters('logicAppName'))]",
        "logicAppName": "[concat('la-', parameters('logicAppName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[concat(variables('logicAppName'), '-getAddress')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('apiConnectionNameCosmosDb'))]",
                "[resourceId('Microsoft.Web/connections', variables('apiConnectionNameOffice365'))]",
                "[resourceId('Microsoft.Web/connections', variables('apiConnectionNameServiceBus'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Response": {
                                    "inputs": {
                                        "body": "@body('Get_Address_From_Geo_Coordinates')?['address']?['formattedAddress']",
                                        "statusCode": 200
                                    },
                                    "kind": "Http",
                                    "runAfter": {},
                                    "type": "Response"
                                }
                            },
                            "else": {
                                "actions": {
                                    "Parse_Bing_Maps_Error_Response_JSON": {
                                        "inputs": {
                                            "content": "@body('Get_Address_From_Geo_Coordinates')",
                                            "schema": {
                                                "properties": {
                                                    "authenticationResultCode": {
                                                        "type": "string"
                                                    },
                                                    "brandLogoUri": {
                                                        "type": "string"
                                                    },
                                                    "copyright": {
                                                        "type": "string"
                                                    },
                                                    "errorDetails": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "resourceSets": {
                                                        "type": "array"
                                                    },
                                                    "statusCode": {
                                                        "type": "integer"
                                                    },
                                                    "statusDescription": {
                                                        "type": "string"
                                                    },
                                                    "traceId": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "ParseJson"
                                    },
                                    "Response_2": {
                                        "inputs": {
                                            "body": "@body('Parse_Bing_Maps_Error_Response_JSON')?['errorDetails']",
                                            "statusCode": "@body('Parse_Bing_Maps_Error_Response_JSON')?['statusCode']"
                                        },
                                        "kind": "Http",
                                        "runAfter": {
                                            "Parse_Bing_Maps_Error_Response_JSON": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Response"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@empty(body('Parse_Bing_Maps_Response_JSON')?['name'])",
                                            false
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Parse_Bing_Maps_Response_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "Get_Address_From_Geo_Coordinates": {
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['bingmaps']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/REST/v1/Locations/pointPlaceHolder",
                                "queries": {
                                    "include": true,
                                    "includeNeighborhood": true,
                                    "latitude": "@triggerBody()?['geoLatCoordinate']",
                                    "longitude": "@triggerBody()?['geoLongCoordinate']"
                                }
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        },
                        "Parse_Bing_Maps_Response_JSON": {
                            "inputs": {
                                "content": "@body('Get_Address_From_Geo_Coordinates')",
                                "schema": {
                                    "properties": {
                                        "__type": {
                                            "type": "string"
                                        },
                                        "address": {
                                            "properties": {
                                                "addressLine": {
                                                    "type": "string"
                                                },
                                                "adminDistrict": {
                                                    "type": "string"
                                                },
                                                "adminDistrict2": {
                                                    "type": "string"
                                                },
                                                "countryRegion": {
                                                    "type": "string"
                                                },
                                                "countryRegionIso2": {
                                                    "type": "string"
                                                },
                                                "formattedAddress": {
                                                    "type": "string"
                                                },
                                                "intersection": {
                                                    "properties": {
                                                        "baseStreet": {
                                                            "type": "string"
                                                        },
                                                        "displayName": {
                                                            "type": "string"
                                                        },
                                                        "intersectionType": {
                                                            "type": "string"
                                                        },
                                                        "secondaryStreet1": {
                                                            "type": "string"
                                                        },
                                                        "secondaryStreet2": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "locality": {
                                                    "type": "string"
                                                },
                                                "neighborhood": {
                                                    "type": "string"
                                                },
                                                "postalCode": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "bbox": {
                                            "properties": {
                                                "eastLongitude": {
                                                    "type": "number"
                                                },
                                                "northLatitude": {
                                                    "type": "number"
                                                },
                                                "southLatitude": {
                                                    "type": "number"
                                                },
                                                "westLongitude": {
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "confidence": {
                                            "type": "string"
                                        },
                                        "entityType": {
                                            "type": "string"
                                        },
                                        "geocodePoints": {
                                            "properties": {
                                                "calculationMethod": {
                                                    "type": "string"
                                                },
                                                "coordinates": {
                                                    "properties": {
                                                        "combined": {
                                                            "type": "string"
                                                        },
                                                        "latitude": {
                                                            "type": "number"
                                                        },
                                                        "longitude": {
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "usageTypes": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "matchCodes": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "point": {
                                            "properties": {
                                                "coordinates": {
                                                    "properties": {
                                                        "combined": {
                                                            "type": "string"
                                                        },
                                                        "latitude": {
                                                            "type": "number"
                                                        },
                                                        "longitude": {
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "Get_Address_From_Geo_Coordinates": [
                                    "Succeeded",
                                    "Failed"
                                ]
                            },
                            "type": "ParseJson"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "geoLatCoordinate": {
                                            "type": "string"
                                        },
                                        "geoLongCoordinate": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "bingmaps": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('apiConnectionNameBingMaps'))]",
                                "connectionName": "bingmaps",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/bingmaps')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[variables('logicAppName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('apiConnectionNameCosmosDb'))]",
                "[resourceId('Microsoft.Web/connections', variables('apiConnectionNameOffice365'))]",
                "[resourceId('Microsoft.Web/connections', variables('apiConnectionNameServiceBus'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_message_is_received_in_a_queue_(auto-complete)": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/@{encodeURIComponent(encodeURIComponent('validimagequeue'))}/messages/head",
                                "queries": {
                                    "queueType": "Main"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Call_API_in_APIM": {
                            "inputs": {
                                "headers": {
                                    "Ocp-Apim-Subscription-Key": "[parameters('apiManagementKey')]",
                                    "Ocp-Apim-Trace": "true"
                                },
                                "method": "POST",
                                "uri": "[concat(parameters('apiManagementUrl'), '/servicerequest/new')]"
                            },
                            "runAfter": {
                                "Parse_Service_Bus_Message_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Create_Cosmos_DB_Document_for_Issue": {
                            "inputs": {
                                "body": {
                                    "ServiceTicketNo": "@body('Parse_ServiceNow_JSON_')?['ServiceTicketNo']",
                                    "blobURL": "@body('Parse_Service_Bus_Message_JSON')?['blobUrl']",
                                    "geoLatCoordinate": "@body('Parse_Service_Bus_Message_JSON')?['geoLatCoordinate']",
                                    "geoLongCoordinate": "@body('Parse_Service_Bus_Message_JSON')?['geoLongCoordinate']",
                                    "id": "@body('Parse_Service_Bus_Message_JSON')?['id']",
                                    "isValidatedIssue": "@body('Parse_Service_Bus_Message_JSON')?['isValidatedIssue']",
                                    "issueDescription": "@body('Parse_Service_Bus_Message_JSON')?['issueDescription']",
                                    "issueType": "@body('Parse_Service_Bus_Message_JSON')?['issueType']",
                                    "probability": "@body('Parse_Service_Bus_Message_JSON')?['probability']",
                                    "tagName": "@body('Parse_Service_Bus_Message_JSON')?['tagName']",
                                    "timestamp": "@body('Parse_Service_Bus_Message_JSON')?['timestamp']",
                                    "uploadUserName": "@body('Parse_Service_Bus_Message_JSON')?['uploadUserName']"
                                },
                                "headers": {
                                    "x-ms-documentdb-raw-partitionkey": "\"@{body('Parse_Service_Bus_Message_JSON')?['issueType']}\""
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/dbs/@{encodeURIComponent('ImageMetadataDB')}/colls/@{encodeURIComponent('ImageDetailsContainer')}/docs"
                            },
                            "runAfter": {
                                "Parse_ServiceNow_JSON_": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Parse_ServiceNow_JSON_": {
                            "inputs": {
                                "content": "@body('Call_API_in_APIM')",
                                "schema": {
                                    "properties": {
                                        "ServiceTicketNo": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "Call_API_in_APIM": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        },
                        "Parse_Service_Bus_Message_JSON": {
                            "inputs": {
                                "content": "@json(base64ToString(triggerBody()?['ContentData']))",
                                "schema": {
                                    "properties": {
                                        "blobUrl": {
                                            "type": "string"
                                        },
                                        "geoLatCoordinate": {
                                            "type": "number"
                                        },
                                        "geoLongCoordinate": {
                                            "type": "number"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "isValidatedIssue": {
                                            "type": "boolean"
                                        },
                                        "issueDescription": {
                                            "type": "string"
                                        },
                                        "issueType": {
                                            "type": "string"
                                        },
                                        "probability": {
                                            "type": "number"
                                        },
                                        "tagName": {
                                            "type": "string"
                                        },
                                        "timestamp": {
                                            "type": "string"
                                        },
                                        "uploadUserName": {
                                            "type": "string"
                                        },
                                        "uploadedFileName": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {},
                            "type": "ParseJson"
                        },
                        "Send_an_email_to_City_Ops_Managers": {
                            "inputs": {
                                "body": {
                                    "Body": "<p><span style=\"color: rgb(44,130,201)\">Issue Type: </span><span style=\"color: rgb(44,130,201)\">@{body('Parse_Service_Bus_Message_JSON')?['issueType']}</span><span style=\"color: rgb(44,130,201)\"></span><br>\n<span style=\"color: rgb(44,130,201)\">Issue Description: </span><span style=\"color: rgb(44,130,201)\">@{body('Parse_Service_Bus_Message_JSON')?['issueDescription']}</span><span style=\"color: rgb(44,130,201)\"></span><br>\n<span style=\"color: rgb(44,130,201)\">Service Now Ticket Number: </span><span style=\"color: rgb(44,130,201)\">@{body('Parse_ServiceNow_JSON_')?['ServiceTicketNo']}</span><span style=\"color: rgb(44,130,201)\"></span></p>",
                                    "Subject": "Citizen Image Uploaded to Blob Storage",
                                    "To": "someone@example.org"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            },
                            "runAfter": {
                                "Create_Cosmos_DB_Document_for_Issue": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "documentdb": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('apiConnectionNameCosmosDb'))]",
                                "connectionName": "documentdb",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/documentdb')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('apiConnectionNameOffice365'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            },
                            "servicebus": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('apiConnectionNameServiceBus'))]",
                                "connectionName": "servicebus",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/servicebus')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('apiConnectionNameCosmosDb')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "CosmosDBConnection",
                "customParameterValues": {},
                "parameterValues": {
                    "databaseAccount": "[concat('cos-', parameters('cosmosDbAccountName'))]",
                    "accessKey": "[parameters('cosmosDbPrimaryMasterKey')]"
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/documentdb')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('apiConnectionNameOffice365')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "Office365Connection",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('apiConnectionNameServiceBus')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "ServiceBusConnection",
                "customParameterValues": {},
                "parameterValues": {
                    "connectionString": "[parameters('serviceBusConnectionString')]"
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/servicebus')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('apiConnectionNameBingMaps')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "BingMapsConnection",
                "customParameterValues": {},
                "parameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/bingmaps')]"
                }
            }
        }
    ]
}
